:root{
    --color1: #CFBB84;
    --color2: #F5DD9D;
    --color3: #E9D295;
    --color4: #695F43;
    --color5: #A8986C;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%; /* esto para usar medidas rem (1 rem = 10 px)*/
}
body{
    background-color: var(--color4);
}
/* contenedor numeros */
.container-numeros{
    display: flex;
    justify-content: center;
    margin-top: 6.4rem;
    margin-bottom: 1.6rem;
}
.primer-numero, .segundo-numero{
    width: 15.6rem;
    height: 12rem;
    background-color: var(--color1);
    border-radius: 0.8rem;
}
.primer-numero{
    margin-right: 0.8rem;
}
.segundo-numero{
    margin-left: 0.8rem;
}
#numero1, #numero2{
    background: var(--color1);
    color: var(--color4);
    border: 0rem;
    outline: none;
    width: 100%;
    height: 70%;
    margin-top: 11%;
    text-align: center;
    font-size: 2rem;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
/* contenedor operaciones */
.container-operaciones{
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
}
.mayor, .menor, .sumar, .restar{
    width: 7rem;
    height: 6rem;
    background-color: var(--color5);
    border-radius: 0.4rem;
    margin: 0 0.8rem;
}
/* contenedor resultado */
.container-resultado{
    display: flex;
    justify-content: center;
}
.caja-resultado{
    width: 32.8rem;
    height: 9.3rem;
    background-color: var(--color3);
    border-radius: 1rem;
}
#resultado{
    background: var(--color3);
    color: var(--color4);
    border: 0rem;
    outline: none;
    width: 100%;
    height: 70%;
    margin-top: 4%;
    text-align: center;
    font-size: 2rem;
}